.form_checkout{
	padding:16px;
	margin:16px;
}
.form_checkout_button{
	display: flex;
	flex-direction: row;
	padding:16px;
	margin:16px;
}

.form_checkout_button>button{

	margin-right: 16px;
}

.form_checkout{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 16px;

	background-color: #fff;
	margin-bottom: 16px;
}

.cart_comp_head{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media(max-width: 500px){
	.cart_comp_head{
		flex-direction: column;
	}
}

.checkout_comp{
	margin:16px;
	background-color: #fff;
	padding:16px;
}