.form_checkout{
	padding:16px;
	margin:16px;
}
.form_checkout_button{
	display: flex;
	flex-direction: row;
	padding:16px;
	margin:16px;
}

.form_checkout_button>button{

	margin-right: 16px;
}

.form_checkout{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
	grid-gap: 16px;

	background-color: #fff;
	margin-bottom: 16px;
}

.cart_comp_head{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media(max-width: 500px){
	.cart_comp_head{
		flex-direction: column;
	}
}

.checkout_comp{
	margin:16px;
	background-color: #fff;
	padding:16px;
}

.select_pay_method{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}




/*****select_pay_method*/

.select_pay{
	padding: 16px;
}


.paymethod_head{
	padding:16px;
}

.paymethod_head>h1{
	font-size:25px;
}


.order_done{
	background-color: #f8f8f8;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.order_done>div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	padding: 16px;
}

.order_done>div>img{
	width: 200px;
}